@using DapperTodoDemo.Domain
@model DapperTodoDemo.Web.Models.TodoViewModel

<div id="todo-container">
    <button class="btn btn-info float-right m-auto" id="create-todo" style="display: block">Add new todo</button>
    <br />
    <ul class="list-group mt-4">
        @if (Model.TodoItems.Any())
        {
            @foreach (var todoItem in Model.TodoItems)
            {
                <li class="list-group-item">
                    <div class="row justify-content-between m-auto">
                        <div style="text-decoration: @(todoItem.Status == TodoStatus.Closed ? "line-through" : "none")">
                            @todoItem.Title
                        </div>
                        <div>
                            <button class="btn btn-warning todo-edit" data-todo-id="@todoItem.Id" data-todo-title="@todoItem.Title" data-todo-description="@todoItem.Description" data-todo-status="@((int) todoItem.Status)">Edit</button>
                            <button class="btn btn-danger todo-delete" data-todo-id="@todoItem.Id" data-todo-title="@todoItem.Title" data-todo-description="@todoItem.Description" data-todo-status="@((int) todoItem.Status)">Delete</button>
                        </div>
                    </div>
                </li>
            }
        }
        else
        {
            <li class="list-group-item">There is not any todo right now.</li>
        }
    </ul>

    <div class="modal" id="todo-edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit Todo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <div class="modal-body">
                        <input type="hidden" id="edit-todo-id" name="id"/>
                        <div class="form-group">
                            <label for="Title">Title: </label>
                            <input type="text" name="title" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="Description">Description: </label>
                            <input type="text" name="description" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="Status">Status: </label>
                            <input type="checkbox" name="status"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="modal" id="todo-create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Todo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" id="create-todo-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Title">Title: </label>
                            <input type="text" name="title" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="Description">Description: </label>
                            <input type="text" name="description" class="form-control" required/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


